.App {
  text-align: center;
  background-color: #141414;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.intro {
  height: 100vh;
}

.auto__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__inner {
  text-align: center;
}

.intro__inner-content {
  max-width: 600px;
}



h1 {
  margin: 0;
  line-height: 1.2;
}

.main-title {
  font-size: 4rem; 
  font-weight: bold; 
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Растягивание по высоте */
  width: 80%;
  margin-left: 10%;
  background-color: #141414;
}

.table {
  flex: 1;
  margin-right: 20px;
  box-sizing: border-box; /* Добавьте это свойство для правильного учета отступов в размерах элемента */
}

.gradient-text {
  background: linear-gradient(45deg, #ff8a00, #e52e71); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}


.buttonApply {
  margin-top: 10px;
  margin: 10px auto; 
  width: 15%;
  align-items: center;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  color: #bebebe;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.buttonApply:hover {
  background: linear-gradient(45deg, #e52e71, #ff8a00);
}

.buttonApply:active {
  transform: scale(0.95);
}



.connectBtn {
  width: 200px;
  background-color: #141414;
  font-size: 15px;
  line-height: 1vh;
  font-weight: 500;
  color: rgb(190, 190, 190);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; 
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 8px;
  
}
.connectBtn:hover {
  background-color: #141414;
  color: rgb(190, 190, 190);
}

.walletAddr {
  width: 100%;
  background-color: #141414;
  font-size: 15px;
  line-height: 3vh;
  font-weight: 500;
  min-height: 3vh;
  color: rgb(190, 190, 190);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; 
  cursor: pointer;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-sizing: border-box;
          box-sizing: border-box; */
          padding: 10px 5px;
}
.walletAddr:hover {
  background-color: #141414;
  color: linear-gradient(45deg, #ff8a00, #e52e71);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
